html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.NavInput:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #efefef;
    background: black;
  }
}
.fade-enter {
  /* opacity: 0; */
  position: relative;
  transition: 6000ms;
  right: -100%;
}
.fade-exit {
  position: relative;
  transition: 6000ms;
  left: -0%;
}
.fade-enter-active {
  position: relative;
  transition: 600ms;
  right: 0%;
}
.fade-exit-active {
  /* opacity: 0; */
  position: relative;
  transition: 600ms;
  left: -100%;
}
